<footer>
	<p class="footer_cr">Copyright&copy;Wiz Co.,Ltd.All Rights Reserved.</p>
	<figure class="footer_logo">
		<a href="http://012grp.co.jp/" target="_blank">
			<img src="img/footer_logo.png">
		</a>
	</figure>
</footer>


