<header class="header">
	<h1 class="header_logo">
		<figure class="header_logoImg">
			<a href="index.html">
				<img src="img/logo.svg" alt="mainLogo"/>
			</a>
		</figure>
	</h1>
	<nav class="header_nav">
		<ul class="header_navBlock">
			<li class="header_navList" data-nav-trigger="trigger">
				Services
				<ul class="header_navToggle" data-nav-target="target">
					<li data-nav-targetlist="targetlist">
						<a href="web.html" data-link="link">Web</a>
					</li>
					<li data-nav-targetlist="targetlist">
						<a href="graphic.html" data-link02="link02">Graphic</a>
					</li>
					<li data-nav-targetlist="targetlist">
						<a href="movie.html" data-link03="link03">Movie</a>
					</li>
				</ul>
			</li>
			<li class="header_navList">
				<a href="works.html">Works</a>
			</li>
			<li class="header_navList">
				<a href="mailto:public_mgr@012grp.co.jp">Contact</a>
			</li>
		</ul>
	</nav>
</header>



