<%
var title ='';
var metadescription = '';
var metakeywords = '';
%>
<% include common/_head %>
<body data-page-id="top">
<% include common/_header %>
	<section class="main_box">
		<h1 class="main_boxLogo"><img src="img/CreativeBusiness.svg" alt="Creative Business"/></h1>
		<p class="main_boxTxt">
			<span>お客様の「創りたい」を「カタチ」にする。</span>
			<span class="lineBrake">Wizでは、Web・Graphic・Movie、</span>
			<span class="lineBrake" data-txt-target="targetText">さまざまなジャンルのクリエイターが</span>
			<span data-txt-target02="targetText">専門知識を活かし、新しいビジネスの「カタチ」を創造します。</span>
		</p>
		<figure class="main_box_bottomImg">
			<img src="img/branding.svg" alt="branding"/>
		</figure>
		<nav class="main_boxNav">
			<div class="main_navBlock">
				<a href="web.html" class="main_navBlockList">
					<span>Web</span>
				</a>
				<a href="graphic.html" class="main_navBlockList">
					<span>Graphic</span>
				</a>
				<a href="movie.html" class="main_navBlockList dis_mrg">
					<span>Movie</span>
				</a>
			</div>
		</nav>
	</section>
<% include common/_footer %>
<% include common/_script %>







