doctype html
html(lang="en")
    head
        title= pageTitle
        meta(charset="UTF-8")
        <link rel="stylesheet" href="css/style.css"/>
        <title>Vue Components Sample</title>
        <script src="js/lib/bundle.min.js"></script>
    body(id="app")
        <h1>Vue Components Sample</h1>
        p.target aaa
        p.target bbb
        //<vue-sample v-repeat="items"></vue-sample>
        <script src="js/app.js"></script>


















